*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(20250227.jpg);
    background-position:bottom;
    background-size:cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:aqua;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: aqua;
}
.carts
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
    padding: 5px;
    border-color: aqua;
    border: 5px;
}
.cartdetail
{
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    max-height: 300px;
    max-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.cartcontent{
    margin-bottom: 8px;
}